
 
 @import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito:ital,wght@0,300;1,300&family=Raleway&display=swap");

.outerDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px;
}

.collection {
  grid-column: 1 / -1;
  text-align: center;
}

.txtDecoration {
  color: black;
  text-decoration: none;
}

.txtDecoration:hover {
  color: gray;
}

h2.collectionName {
  margin-bottom: 40px;
}

.collectionItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.innerDiv {
  font-family: "Nunito", sans-serif;
  color: black;
  background-color: #E6E6FA;
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

.studImg {
  margin-top: 15px;
  max-width: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
