@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito:ital,wght@0,300;1,300&family=Raleway&display=swap");

.outerWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0px 50px 50px 50px;
  flex-wrap: wrap;
}

.linksDec {
  color: black;
  text-decoration: none;
}

.innerWrapper {
  font-family: "Nunito", sans-serif;
  color: black;
  background-color: #e6e6fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}

.cardImg {
  margin-top: 15px;
  max-width: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
